
  .musicContent {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .musicTitle {
   text-align: center;
}
/* Portrait View */
@media (min-width: 320px) and (max-width: 450px) {
   iframe {
      width: 100%;
   }
   .musicSection {
      margin-top: 15%;
   }
   .musicTitle {
      text-align: center;
      margin-bottom: 5%;
   } 

}

/* Landscape View */
@media (min-width: 568px) and (max-width: 812px) {
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
   iframe {
      width: 100%;
   }
   .musicSection {
      margin-top: 20%;
   }
}

/* Desktop */
@media (min-width: 992px) {
  .musicSection {
     margin-top: 10%;
  }

}
