
  .musicContent {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .musicTitle {
   text-align: center;
   font-family: 'Righteous', cursive;
   letter-spacing: 10px;
}
.musicSection {
   background-color: #484848;
}
/* Portrait View */
@media (min-width: 320px) and (max-width: 450px) {
   iframe {
      width: 100%;
   }
   .musicTitle {
      text-align: center;
      padding-bottom: 5%;
   } 

}

/* Landscape View */
@media (min-width: 568px) and (max-width: 824px) {
   .musicSection {
  
   }
}

/* Tablet View */
@media (min-width: 825px) and (max-width: 991px) {
   iframe {
      width: 100%;
   }
   .musicSection {
      padding-top: 20%;
   }
}

/* Desktop */
@media (min-width: 992px) {
  .musicTitle{
     padding-top: 3%;
     letter-spacing: 10px;
  }

}
