.title{
  font-family: 'Righteous', cursive;
}
.titleSection{
  height: 100vh;
}

/* Portrait View */
@media (min-width: 315px) and (max-width: 450px) {
   .title {
      padding-top: 70%;
      padding-bottom: 30%;
      font-size: 70px;
      letter-spacing: 25px;
      text-align: center;
      color: white;
      opacity: .1;
    }
    .icons {
      height: 40px;
      width: 40px;
    }
}

/* Landscape View */
@media (min-width: 568px) and (max-width: 739px) {
  .title {
    padding-top: 15%;
    padding-bottom: 2%;
    font-size: 70px;
    letter-spacing: 35px;
    text-align: center;
    color: white;
    opacity: .1;
  }
  .icons {
    height: 40px;
    width: 40px;
  }
}

/* Tablet View */
@media (min-width: 740px) and (max-width: 991px) {
  .title {
    padding-top: 35%;
    padding-bottom: 15%;
    font-size: 150px;
    letter-spacing: 35px;
    text-align: center;
    color: white;
    opacity: .1;
  }
  .icons {
    height: 50px;
    width: 50px;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .title {
    padding-top: 10%;
    padding-bottom: 4%;
    font-size: 250px;
    letter-spacing: 35px;
    text-align: center;
    color: white;
    opacity: .1;
  }
  .icons {
    height: 40px;
    width: 40px;
  }
}
