.title{
  font-family: 'Righteous', cursive;
}

/* Portrait View */
@media (min-width: 320px) and (max-width: 450px) {
   .title {
      padding-top: 70%;
      padding-bottom: 50%;
      font-size: 80px;
      letter-spacing: 25px;
      text-align: center;
      color: white;
      opacity: .1;
      
    }
    .icons {
      height: 40px;
      width: 40px;
    }
}

/* Landscape View */
@media (min-width: 568px) and (max-width: 812px) {
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
  .title {
    padding-top: 55%;
    padding-bottom: 15%;
    font-size: 150px;
    letter-spacing: 35px;
    text-align: center;
    color: white;
    opacity: .1;
  }
  .icons {
    height: 50px;
    width: 50px;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .title {
    padding-top: 15%;
    font-size: 250px;
    letter-spacing: 35px;
    text-align: center;
    color: white;
    opacity: .1;
  }
  .icons {
    height: 40px;
    width: 40px;
  }
}
