/* Portrait View */
@media (min-width: 320px) and (max-width: 450px) {
   .title {
      margin-top: 70%;
      margin-bottom: 50%;
      font-size: 50px;
      letter-spacing: 25px;
      text-align: center;
      color: white;
    }
    .icons {
      height: 50px;
      width: 50px;
      opacity: .3;
    }
}

/* Landscape View */
@media (min-width: 568px) and (max-width: 812px) {
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Desktop */
@media (min-width: 992px) {
  .title {
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 150px;
    letter-spacing: 35px;
    text-align: center;
    color: white;
  }
  .icons {
    height: 40px;
    width: 40px;
  }
}
