body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: black !important;
 }
 
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }
 .heroBackGround {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110vh;
  padding: 0;

 }
 .hero {
   object-fit: cover;
 }
 .videoContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

 }
 /* Portrait View */
  @media (min-width: 315px) and (max-width: 450px) { 
   .hero{
     position: absolute;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
     padding: 0;
   }
 } 
 
 /* Landscape View */
  @media (min-width: 568px) and (max-width: 739px) {
   .hero{
     position: absolute;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 110vh;
     padding: 0;
   }
 
 } 
 
 /* Tablet View */
 @media (min-width: 740px) and (max-width: 991px) {
   .hero{
     position: absolute;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 120vh;
     padding: 0;
   }
 
 }
 
 /* Desktop */
  @media (min-width: 992px){
   .hero{
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
    width: 100vw;
    top: 0;
    left: 0;
   }

 
 } 
 
 

 