.seriesText{
   font-family: 'Righteous', cursive;
}
.artSection{
   background-color: #484848;
}
.collectionText{
   font-family: 'Righteous', cursive;
}

/* Portrait View */
@media (min-width: 320px) and (max-width: 450px) { 
   .collectionText{
      text-align: center;
      padding-top: 10%;
      padding-bottom: 5%;
   }
  .collectionSection{
     padding-left: 20%;
     padding-top: 5%;
  }
  .seriesText{
   padding-bottom: 2%;
}

 } 
 
 /* Landscape View */
  @media (min-width: 568px) and (max-width: 739px) {
 
 } 
 
 /* Tablet View */
 @media (min-width: 740px) and (max-width: 991px) {
   .collectionText{
      text-align: center;
      padding-top: 5%;
   }
  .collectionSection{
     padding-top: 5%;
     width: 100%;
     text-align: center;
  }
  .seriesText{
   padding-bottom: 5%;
}
 
 }
 
 /* Desktop */
  @media (min-width: 992px){
   .collectionText{
      text-align: center;
      padding-top: 5%;
      letter-spacing: 10px;
   }
  .collectionSection{
     padding-top: 5%;
     width: 100%;
     text-align: center;
     background-color: #484848;
  }
  .seriesText{
   padding-bottom: 5%;
}
 } 